p.text{
  color:black;
  text-align: center;
  font-size: 16px;
}
img.element{
  display: block;
  margin: auto;
  max-width:100%;
  max-height:35%;
  background-color: rgba(0, 0, 0, 0.0);
}
img.square{
  display: block;
  margin: auto;
  max-width:100%;
  max-height:35%;
  background-color: rgba(0, 0, 0, 0.0);
}

.element{
  height:60vh;
  width:22vw;
  border-radius: 2px;
  border-width: 1px;
  border-color: red;
  background-color: rgba(169,146,132,0.7);
  padding-top: 1vh;
  border-radius: 20px;
}

.button{
  color: rgba(86, 109, 123,1);
  text-align: center;
  width: 16vw;
}
.button-text{
  text-align: center;
}
hr{
  height:2px;
  width:5vw;
  border:none;
  color:#3A2511;
  background-color:#3A2511;
}
